<mat-card [formGroup]="registerFG">
    <div class="rowItems">
        <div class="columnItems rowItem">
            <mat-form-field class="columnItem" required>
                <input matInput placeholder="User Name" [formControl]="userNameFC">
                <mat-error *ngIf="userNameFC.invalid">{{userNameFC.errors.invalidUserName}}</mat-error>
            </mat-form-field>
            <mat-form-field class="columnItem" required>
                <input matInput type='password' placeholder="Password" [formControl]="passwordFC">
                <mat-error *ngIf="passwordFC.invalid">{{passwordFC.errors.invalidPassword}}</mat-error>
            </mat-form-field>
        </div>
        <div class="columnItems rowItem">
            <mat-form-field class="columnItem" required>
                <input matInput placeholder="Email" [formControl]="emailFC">
                <mat-error *ngIf="emailFC.invalid">{{emailFC.errors.invalidEmail}}</mat-error>
            </mat-form-field>
            <mat-form-field class="columnItem">
                <input matInput placeholder="Tel" [formControl]="telFC">
            </mat-form-field>
        </div>
        <div class="flexStart rowItem">
            <button mat-raised-button color='accent' (click)='onClickRegister()' [disabled] ='this.registerFG.invalid'>Đăng kí</button>
            <button mat-raised-button color='warn' (click)='onClickCancel()'>Hủy</button>
        </div>
    </div>
</mat-card>