<div class="dialog" [formGroup]='bookingInformation'>
    <h3>Thông tin đặt phòng</h3>
    <div class='rowItems'>
        <h4 class='rowItem'>Ngày đặt: {{information.dateSeleted | date: 'dd/MM/yyyy'}} </h4>
        <div class="columnItems rowItem">
            <h4 class='columnItem'>Từ: {{information.fromTime}}:00</h4>
            <h4 class='columnItem'>Đến: {{information.toTime}}:00</h4>
        </div>
        <h4 class='rowItem'>Vị trí: {{information.floorName}} - {{information.roomName}} </h4>
        <mat-form-field class='rowItem'>
            <input matInput placeholder="Người đặt phòng" [formControl]="personNameFC" required>
            <mat-error *ngIf="descriptionFC.invalid">Vui lòng điền tên người đặt phòng</mat-error>
        </mat-form-field>
        <mat-form-field class='rowItem'>
            <input matInput placeholder="Mục đích" [formControl]="purposeFC" required>
            <mat-error *ngIf="descriptionFC.invalid">Vui lòng điền mục đích đặt phòng</mat-error>
        </mat-form-field>
        <mat-form-field class='rowItem'>
            <textarea matInput placeholder="Miêu tả chi tiết" [formControl]="descriptionFC" required></textarea>
            <mat-error *ngIf="descriptionFC.invalid">Vui lòng điền Miêu tả chi tiết</mat-error>
        </mat-form-field>
    </div>
    <button mat-raised-button color='primary' (click)='onClickOk()'>Hoàn Thành</button>
    <button mat-raised-button color='warn' (click)='onClickCancel()'>Hủy</button>
</div>