<mat-card>
  <mat-card-title>
    <h4>Thông tin chi tiết:</h4>
  </mat-card-title>
  <div class="columnItems rowItem">
    <h4 class='columnItem'>Ngày đặt: {{rowSelected.dateSelected}} </h4>
    <h4 class='columnItem'>Vị trí: {{rowSelected.floorName}} - {{rowSelected.roomName}} </h4>
  </div>
  <div class="columnItems rowItem">
    <h4 class='columnItem'>Từ: {{rowSelected.fromTime}}:00</h4>
    <h4 class='columnItem'>Đến: {{rowSelected.toTime}}:00</h4>
  </div>
  <div class="columnItems rowItem">
    <h4 class='columnItem'>Mục đích: {{rowSelected.purpose}}</h4>
    <h4 class='columnItem'>Miêu tả chi tiết: {{rowSelected.description}}</h4>
  </div>
  <div class="flexStart rowItem">
    <button mat-raised-button color='primary' (click)='onClickOk()' [disabled]="isDisable">Chấp nhận</button>
    <button mat-raised-button color='warn' (click)='onClickCancel()' [disabled]="isDisable">Từ chối</button>
  </div>
</mat-card>
<mat-card>
  <mat-card-title>
    <h4>Danh sách yêu cầu:</h4>
  </mat-card-title>
  <mat-card-content>
    <div class='rowItems'>
      <mat-form-field class='rowItem'>
        <input matInput (keyup)='applyFilter($event.target.value)' placeholder='Tìm Yêu Cầu'>
      </mat-form-field>
      <div *ngIf="!isdataloaded" class='rowItem'>
        <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
      </div>
      <div *ngIf="isdataloaded" class='rowItem'>
        <table mat-table matSort [dataSource]='dataSource' class='tableContent'>
          <ng-container matColumnDef='dateSelected'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày</th>
            <td mat-cell *matCellDef='let element'>
              {{element.dateSelected}}
            </td>
          </ng-container>
          <ng-container matColumnDef='location'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Vị Trí</th>
            <td mat-cell *matCellDef='let element'>
              {{element.floorName}} - {{element.roomName}}
            </td>
          </ng-container>
          <ng-container matColumnDef='time'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Thời gian</th>
            <td mat-cell *matCellDef='let element'>
              {{element.fromTime}}:00 - {{element.toTime}}:00
            </td>
          </ng-container>
          <ng-container matColumnDef='personName'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Người đặt</th>
            <td mat-cell *matCellDef='let element'>
              {{element.personName}}
            </td>
          </ng-container>
          <ng-container matColumnDef='status'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Trạng thái</th>
            <td mat-cell *matCellDef='let element'>
              {{element.status}}
            </td>
          </ng-container>
          <ng-container matColumnDef="star" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button color="primary" mat-icon-button (click)='onClickInfo(element)'>
                <mat-icon>info</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef='displayedColumns; sticky: true'></tr>
          <tr mat-row *matRowDef='let row; columns: displayedColumns;'></tr>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>