<div class="rowItems">
    <h4 class="rowItem">Lý do từ chối yêu cầu</h4>
    <mat-form-field class='rowItem'>
        <textarea matInput placeholder="Miêu tả chi tiết" [formControl]="descriptionFC" required></textarea>
        <mat-error *ngIf="descriptionFC.invalid">Vui lòng điền lí do</mat-error>
    </mat-form-field>
    <div class="flexStart rowItem">
        <button mat-raised-button color='primary' (click)='onClickOk()'>Hoàn Thành</button>
        <button mat-raised-button color='warn' (click)='onClickCancel()'>Hủy</button>
    </div>
</div>