<div [formGroup]="homeFG">
  <div class="container">
    <mat-card>
      <diV class="rowItems">
        <h3>ĐẶT PHÒNG</h3>
        <div class="columnItems">
          <mat-form-field class="columnItem">
            <input matInput [matDatepicker]="dp" placeholder="Chọn Ngày" [formControl]="dateSelectedFC" required>
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="columnItem">
            <mat-select placeholder="Từ" [formControl]="fromTimeFC" required>
              <mat-option *ngFor="let time of fromTimes" [value]="time">
                {{time}}:00
              </mat-option>
            </mat-select>
            <mat-error *ngIf="fromTimeFC.invalid">{{fromTimeFC.errors.invalidFromTime}}</mat-error>
          </mat-form-field>
          <mat-form-field class="columnItem">
            <mat-select placeholder="Đến" [formControl]="toTimeFC" required>
              <mat-option *ngFor="let time of toTimes" [value]="time">
                {{time}}:00
              </mat-option>
            </mat-select>
            <mat-error *ngIf="toTimeFC.invalid">{{toTimeFC.errors.invalidToTime}}</mat-error>
          </mat-form-field>
        </div>
      </diV>
    </mat-card>
      <div class="rowItems">
        <div *ngFor="let floor of floors">
          <mat-card>
            <h3>{{floor.floorName}} :</h3>
            <div class="columnItems flexStart">
              <div *ngFor="let room of floor.rooms">
                <div class='columnItem'>
                  <button mat-raised-button color='primary' (click)='onClickOpenDialog(floor.floorName, room.roomName)' class="selectBtn" [disabled]='isBooked(floor.floorName, room.roomName)'>{{room.roomName}}</button>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
  </div>
  
</div>