<mat-card [formGroup]="logInFG">
  <div class="rowItems">
    <div class="columnItems rowItem">
      <mat-form-field class="columnItem" required>
        <input matInput placeholder="User Name" [formControl]="userNameLogInFC">
        <mat-error *ngIf="userNameLogInFC.invalid">Vui lòng điền User Name</mat-error>
      </mat-form-field>
      <mat-form-field class="columnItem" required>
        <input matInput type='password' placeholder="Password" [formControl]="passwordLoginFC">
        <mat-error *ngIf="passwordLoginFC.invalid">Vui lòng điền Password</mat-error>
      </mat-form-field>
    </div>
    <mat-error *ngIf ="errorMessage != ''" class = "errorMessage">{{errorMessage}}</mat-error>
    <div class="flexStart rowItem">
      <button mat-raised-button color='primary' (click)='onClickLogIn()'>Đăng nhập</button>
      <button mat-raised-button color='accent' (click)='onClickRegister()' >Đăng kí</button>
      <button mat-raised-button color='warn' (click)='onClickForgotPass()' >Quên mật khấu</button>
    </div>
  </div>
</mat-card>
