<div class="rowItems">
    <h4 class="rowItem">Thông báo</h4>
    <h5>{{information}}</h5>
    <div class="flexStart rowItem">
        <button mat-raised-button color='primary' (click)='dialogRef.close();'>OK</button>
    </div>
</div>