%display {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
}

$width-name: max-device-width;
$target-width: 450px;

@media screen and ($width-name: $target-width) {
  .divider-vertical {
    display: none;
  }
  .columnItems {
    flex-wrap: wrap;
  }
}

.columnItems {
  @extend %display;
  justify-content: space-between;
  .columnItem {
    width: 100%;
    padding: 5px;
  }
}
.rowItems {
  @extend %display;
  flex-direction: column;
  .rowItem {
    width: 100%;
    padding-top: 10px;
  }
}

h3,
h4 {
  margin: 0 5px;
}
.selectBtn {
  margin: auto;
}
.flexStart {
  @extend %display;
  justify-content: flex-start;
  button {
    margin-left: 5px;
  }
  align-items: flex-end;
}

.flexEnd {
  @extend .flexStart;
  justify-content: flex-end;
}

.marcard-header-image {
  background-image: url('../assets/images/logo.png');
  background-size: cover;
}
.dialog {
  width: 50vh;
}
.tableContent {
  width: inherit;
  height: 20vh;
}

.errorMessage {
  margin-left: 5px;
}
